.wrapper {
    width: 300px;
    text-align: center;
    .conditionImage {
        width: 60%;
        margin-bottom: 5px;
    }

    .windDirectionImage {
        width: 10px;
    }
}

@media (max-width: 1100px){
    .wrapper {
        span {
            display: block;
        }
    }
}
@media (max-width: 775px){
    .wrapper {

        width: 150px;
        span {
            display: inline;
        }
        h3 {
            font-size: 18px;
        }

    }
}
